<div class="h-100 d-flex justify-content-between align-items-center"
    style="padding-left: 100px; padding-right: 100px; font-size: 1.5rem;">
    <span>TP Spring-MongoDB-Angular</span>
    <span class="d-flex gap-1">
        <button class="btn text-light">Home</button>
        <button class="btn text-light border-0" disabled>About</button>
        <button class="btn text-light border-0" disabled>Services</button>
        <button class="btn text-light border-0" disabled>Contact</button>
    </span>
</div>